
* {
  box-sizing: border-box;
}
html {
  font-size: 1vw;
}

@media (min-width: 2200px) {
  html {
    font-size: 22px;
  }
}
@font-face {
  src: url('https://res.cloudinary.com/dr6lvwubh/raw/upload/v1529908256/CompressaPRO-GX.woff2');
  font-family: 'Roboto Mono';
  font-style: normal;
}
@font-face {
  src: url('/static/fonts/AGaramondPro-Regular.otf');
  font-family: 'AGaramondPro';
  font-style: normal;
}
@font-face {
  font-family: 'Dalmatins';
  src: url('https://uploads-ssl.webflow.com/615730ccd31d1f239c5c1c0e/615731cc92ff318773636589_Dalmatins.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Agaramondpro';
  src: url('https://uploads-ssl.webflow.com/615730ccd31d1f239c5c1c0e/615731cc40ed6e20c29a4ab8_AGaramondPro-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply h-full;
    @apply w-full;
    @apply bg-darkGray-900;
    /*@apply bg-lightGray;*/
    /*overflow: hidden;*/
  }
  h1,h2,h3 {
    @apply font-playfair;
    @apply font-black;
    @apply text-darkGray;
    @apply text-8xl;
    @apply leading-[.9];
  }
  h1 span,h2 span,h3 span, p span{
    @apply block;
  }
  p {
    @apply font-roboto;
    @apply font-thin;
    @apply text-darkGray;
    @apply text-[2.5rem];
    @apply leading-none;
  }
}

.signature{
  font-family: Dalmatins;
  color: #c29a5c;
  font-size: 50px;
  text-transform: none;
  position: absolute;
  left: 200px;
  background: rgb(194,154,92);
  padding: 100px 0;
  background: linear-gradient(90deg, rgba(194,154,92,1) 20%, rgba(213,196,170,1) 32%, rgba(227,227,227,0) 50%, rgba(243,238,232,0) 61%);
  background-size: 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position-x: 100%;
  animation-name: signature;
  animation-duration: 1s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
  transform: translate(-250px, -90px) rotate( 355deg );
  transform-origin: top left;
}
.signature2{
  font-family: Dalmatins;
  color: #c29a5c;
  text-transform: none;
  position: absolute;
  left: 200px;
  background: rgb(194,154,92);
  padding: 100px 0;
  background: linear-gradient(90deg, rgba(194,154,92,1) 20%, rgba(213,196,170,1) 32%, rgba(227,227,227,0) 50%, rgba(243,238,232,0) 61%);
  background-size: 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position-x: 100%;
  animation-name: signature;
  animation-duration: 1s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
  transform: translate(-200px, -90px) rotate( 355deg );
  transform-origin: top left;
  font-size: 45px;

}
.spiral rect {
  fill: #E5E6EA !important;
}
.banachCloud rect {
  fill: #141414 !important;
}

.odometerText{
  font-weight: 900;
  color: #f2eeeb69;
  font-size: 240px;
  -webkit-text-stroke: .5px #e3d2b9;
  line-height:1;
  font-family:roboto;
}
.pin2 > *,.pinItem2 {
  position: absolute;
  bottom:0;
  @apply translate-y-[100%];
}
.pin > *,.pinItem {
  position: absolute;
  bottom:0;
  @apply translate-y-[120%];
}

.cloud rect {
  fill: #141414 !important;
}.bottomSvg rect {
  fill: #2c2c2c !important;
}
 @media(min-width:2000px){
   .tablets1{
    top:-22rem!important;
   }
 }

.stopScroll{
  overflow: hidden;
  height: 100vh;
}